<div class="margin-card">

  <div *ngIf="!listadoLoaded" class="position-fixed top-50 w-100 text-center">
    <ngx-skeleton-loader  count="3" appearance="circle" animation="progress-dark"></ngx-skeleton-loader>
  </div>
  
  <div class="container">
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 my-1">

      <div class="col" *ngFor="let pelicula of listadoPeliculas">
       
        <div role="button" class="card h-100 " id={{pelicula.id}} (click)="verDetalle(pelicula)">
          <div class="card-header text-center text-truncate">
            <span class="text-center ">{{pelicula.title}}</span>
          </div>
          <img class="card-img" onerror="this.src='http://dummyimage.com/400x600.png/dddddd/000000&text=not+avaliable+image';" [src]="pelicula.poster" [alt]="pelicula.title">
          <div class="card-body">
            <p class="card-text" >
              <span *ngFor="let tag of pelicula.genre">
                #{{tag}}
              </span>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="position-fixed bottom-0 end-0">
        <button type="submit" class="btn btn-warning m-3" (click)="nuevaPelicula()">
          <i class="bi bi-plus-lg"></i>
        </button>
    </div>
    
  </div>


</div>
