<div class="margin-card">
    <div class="card mb-3" id={{pelicula.id}}>
        <img class="card-img-top" [src]='pelicula.poster' [alt]="pelicula.title">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label>{{ 'movie.label.rating' | translate }} </label>
                    <label>{{pelicula.imdbRating}}</label>
                </div>
                <div class="col-6">
                    <label>{{ 'movie.label.duration' | translate }}</label>
                    <label>{{pelicula.duration | duracion_horas_minutos}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>{{ 'movie.label.actors' | translate }}</label>
                    <label *ngFor="let actor of actores">
                        {{actor.first_name + ' ' + actor.last_name}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>{{ 'movie.label.studio' | translate }}</label>
                    <label>{{ estudio }} </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>{{ 'movie.label.genres' | translate }}</label>
                    <label *ngFor="let genero of pelicula.genre">
                        #{{genero}}
                    </label>
                </div>
            </div>
        </div>

        <div class="position-fixed bottom-0 end-0">
            <button type="button" class="btn btn-success my-3" (click)="editar(pelicula)">
                <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger m-3">
                <i class="bi bi-trash"></i>
            </button>
        </div>

    </div>

</div>

